[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-anthropic = "*"
langchain-pinecone = "*"
langchain-voyageai = "*"
langchain-openai = "*"
langchainhub = "*"
voyageai = "*"
pypdf = "*"
pinecone-notebooks = "*"
requests = "*"
urllib3 = "*"
pinecone-client = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.12"